REACT_APP_SELLER_TAB_TITLE=IGM FLOW
REACT_APP_BUYER_TAB_TITLE=IGM FLOW
REACT_APP_DISPLAY_REQUEST=true
REACT_APP_DISPLAY_BUYER=false
REACT_APP_DISPLAY_SELLER=true
REACT_APP_SANDBOX_URL=
REACT_APP_SELLER_URL=http://localhost:7202
